@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Aboreto', cursive;
}

:root {
  --black: #000;
  --white: #FFF;
  --gray: #777;
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  background: var(--white);
}

.Title {
  font-size: 3rem;
  text-align: center;
  margin-block: 25px;
  color: var(--black);
}

.App--Input {
  height: 35px;
  width: 50%;
  justify-self: flex-end;
  flex-shrink: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  border: 1px solid var(--gray);
  border-radius: 5px;
  text-align: center;
}

.InputBox {
  width: 50%;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--black);
  margin-block: 5px;
  gap: 5px;
}

.Formula {
  width: 70%;
  max-width: 750px;
  min-height: 100px;
  margin-top: 35px;
  font-size: 28px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  gap: 25px;
  align-items: center;
  color: var(--black);
}

.Formula--Division {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.ThemeButton {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 10px;
  top: 10px;
  cursor: pointer;
  color: var(--black);
}

.Autor {
  text-decoration: none;
  color: var(--gray);
  opacity: 0.5;
  font-size: 12px;
  position: absolute;
  bottom: 5px;
}

@media (max-width:760px) {

  .InputBox {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .Formula {
    font-size: 20px;
    gap: 15px;
    min-height: 70px;
  }

}

@media (max-width:380px) {

  .InputBox {
    font-size: 4.2vw;
  }

  .Formula {
    font-size: 4vw;
  }
}